@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
	/* Colors */
	--background-color-0: #530083;
	--background-color-1: #7a2a2a;
	--background-color-2: #246e15;

	--component-background-color: #1e1e1e;

	--box-shadow-color: rgba(30, 30, 30, 0.5);

	--text-primary-color: #000000;
	--text-secondary-color: #5e5e5e;
	--text-other-color: #bababa;
	--light-text-color: hsl(224, 44%, 95%);

	--online-color: #a7c957;
	--offline-color: #e63946;
	--unknown-color: #f77f00;

	/* Fonts */
	--primary-font: 'Montserrat', sans-serif;

	--nav-font-size: 1rem;

	/* Background */
	--background-linear-degree: 90deg;
}
body {
	background: linear-gradient(
		var(--background-linear-degree),
		var(--background-color-0) 0%,
		var(--background-color-1) 30%,
		var(--background-color-2) 50%,
		var(--background-color-0) 70%,
		var(--background-color-1) 100%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}