.flex__fixed__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
}

.hw__100p {
	width: var(--end-percent);
	height: var(--end-percent);
}

.hw__100v {
	width: 100vw;
	height: 100vh;
}

.all__center {
	justify-content: center;
	align-items: center;
}

.flex__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.navigation__link {
	text-decoration: none;
	font-size: var(--font-size);
	animation: ligth-text-blinking var(--large-animation-time) ease infinite;
}

.navigation__link__text {
	margin: var(--zero) 1vw;
	text-align: center;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}

.page__margin__bottom {
	margin-bottom: var(--end-page-padding);
}

@media (max-width: 600px) {
	.navigation__link__text {
		display: none;
	}
}
